header {
    background-image: linear-gradient(to bottom right, #090e6a, #2c91df);
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
}

aside {
    margin: 5px 20px;
}

section {
    width: 70%;
}
.display-weather {
    margin: 40px 13px;
    width: 97%;
    text-align: center;
}

.city-search {
    flex-direction: column;
    margin-top: 5px;
}

h3 {
    font-weight: bold;
}


.search-input {
    width: 300px;
    border-color: lightgrey;
}

.search-btn {
    width: 100%;;
}

.city-buttons {
    width: 100%;
}

.btn-primary {
    background-color: #033c8d8e;  
    border-color: #033c8d8e;
}

.btn-primary:hover {
    background-color: #033c8dba;
    border-color: #033c8dba;
}

.col-sm {
    border: thin solid lightgrey;
    border-radius: 5px;
    /* height: 190px; */
    padding: 20px;
    margin-top: 5px;
    background-image: linear-gradient(to bottom right, #2c91dfd7, #090e6adb);
    color: white;
}

/* .daily-forecast {
    align-items: center;
    margin-left: 0px;
    /* width: 98%; */
 
.card-header {
    /* background-image: linear-gradient(to bottom right, #2c91df, #090e6adb); */
    background-color: #0e3274;
    color: white;
    font-weight: bold;
}

.daily-forecast-title {
    text-align: left;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 20px;
}

.forecast {
    width: 97%;
}
