header {
    background-image: linear-gradient(to bottom right, #090e6a, #2c91df);
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
}

aside {
    margin: 5px 40px;
}

section {
    width: 70%;
}
.display-weather {
    margin: 40px 10px;
    width: 95%;
    text-align: center;
}

.city-search {
    flex-direction: column;
    margin-top: 5px;
}

h3 {
    font-weight: bold;
}
.search-input {
    width: 300px;
    border-color: lightgrey;

}

.search-btn {
    width: 100%;;
}

.city-buttons {
    width: 100%;
}

.btn-primary {
    background-color: #033c8d8e;  
    border-color: #033c8d8e;
}

.btn-primary:hover {
    background-color: #033c8dba;
    border-color: #033c8dba;
}